@model AddressVM
@{
    var IsFromParty = (bool)ViewData["IsFromParty"];
}

@Html.HiddenFor(s => s.AddressId)

<div>
    @if (!IsFromParty)
    {
        <div>
            @Html.LabelFor(s => s.Type)

            <div>
                @Html.TextBoxFor(s => s.Type)
            </div>
        </div>
    }
    <div>
        @Html.LabelFor(s => s.Address1)

        <div>
            @Html.TextBoxFor(s => s.Address1)
        </div>
    </div>

    <div>
        @Html.LabelFor(s => s.Address2)

        <div>
            @Html.EditorFor(s => s.Address2)
        </div>
    </div>

    <div>
        @Html.LabelFor(s => s.Country)

        <div>
            @Html.EditorFor(s => s.Country)
        </div>
    </div>

    <div>
        @Html.LabelFor(s => s.State)

        <div>
            @Html.EditorFor(s => s.State)
        </div>
    </div>

    <div>
        @Html.LabelFor(s => s.City)

        <div>
            @Html.EditorFor(s => s.City)
        </div>
    </div>

    <div class="grid-item">
        @Html.LabelFor(s => s.PostalCode)

        <div>
            @Html.EditorFor(s => s.PostalCode)
        </div>
    </div>

</div>
