@model CasePartyVM

<div>

    <div class="form-group">
        @Html.LabelFor(s => s.PartyType)

        <div>
            @Html.EditorFor(s => s.PartyType)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(s => s.LastName)

        <div>
            @Html.TextBoxFor(s => s.LastName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(s => s.FirstName)

        <div>
            @Html.EditorFor(s => s.FirstName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(s => s.IsIUStudent)

        <div>
            @Html.EditorFor(s => s.IsIUStudent)
        </div>
    </div>

    <hr />

    <div>
        @Html.LabelFor(s => s.Email)

        <div>
            @Html.EditorFor(s => s.Email)
        </div>
    </div>

    <hr />

    <div>
        @Html.LabelFor(s => s.Address)

        <div>
            @Html.EditorFor(s => s.Address)
        </div>
    </div>

</div>
