@model EmailVM
@{
    var IsFromParty = (bool)ViewData["IsFromParty"];
    if (IsFromParty) { Model.Type = "Case Party"; }
}
<div>

    @Html.HiddenFor(s => s.EmailId)

    @if (!IsFromParty)
    {
        <div class="form-group">
            @Html.LabelFor(s => s.Type)

            <div>
                @Html.TextBoxFor(s => s.Type)
            </div>
        </div>
    }
    else
    {
        @Html.HiddenFor(s => s.Type)
    }
        <div class="form-group">
            @Html.LabelFor(s => s.Email1)

            <div>
                @Html.TextBoxFor(s => s.Email1)
            </div>
        </div>

    </div>
